.first-div {
  height: 283px;
  width: 619px;
  background-color: #c4c4c4;
}

.second-div {
  margin-top: 20px;
  height: 392px;
  width: 619px;
  background-color: #c4c4c4;
}

h1 {
  padding-top: 15px;
  margin-left: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35.16px;
  height: 27px;
  width: 488px;
}

p {
  margin-top: 25px;
  margin-left: 16px;
  height: 204px;
  width: 587px;
  font-size: 18px;
  font-weight: 400;
}
